# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List common libraries used in Data Science
- View examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| VS Code with Python      |
| RStudio                  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
hours= 200/60
hours

3.3333333333333335

## Author
Lilian Alhalabi